.background-img {
    background-image: url('/imgs/mvc-stage7.gif');
    background-position: center;
    background-size: cover;
}

.bad-img {
    width: 500px;
    height: 500px;
}

.hero-img {
    width: 300px;
    height: 300px;
}